<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head> </head>
  <body>
    <!-- Page Content-->
    <div class="container px-5 my-5" th:fragment="resume">
      <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0">
          <span class="text-gradient d-inline">Resume</span>
        </h1>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
          <!-- Experience Section-->
          <section>
            <div class="d-flex align-items-center justify-content-between mb-4">
              <h2 class="text-primary fw-bolder mb-0">Experience</h2>
              <!-- Download resume button-->
              <!-- Note: Set the link href target to a PDF file within your project-->
              <a class="btn btn-primary px-4 py-3" href="https://flowcv.com/resume/slvniwl17bak" target="_blank" rel="noopener noreferrer" download>
                <div class="d-inline-block bi bi-download me-2"></div>
                Download Resume
              </a>
            </div>
            <!-- Experience Card 1-->
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-primary fw-bolder mb-2">2025</div>
                      <div class="small fw-bolder">Trainee Technical Assistant</div>
                      <div class="small text-muted">SILIGURI INSTITUTE OF TECHNOLOGY</div>
                      <div class="small text-muted">Siliguri, West Bengal</div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      Assisted in conducting and managing lab sessions for Java, C, Python, Data Structures & Algorithms (DSA), and Software Engineering.
                      Provided technical assistance to faculty during practical sessions and ensured smooth execution of coursework.
                      Gained hands-on experience in system administration, troubleshooting, and lab management.
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-primary fw-bolder mb-2">2025</div>
                      <div class="small fw-bolder">Software Engineer</div>
                      <div class="small text-muted">ELEVATE LABS</div>
                      <div class="small text-muted">BTG, Marathahalli, Bengaluru - 560037</div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      Worked with Elevate Labs on building Java-based applications like BookM Store and a Blockchain Simulator, focusing on clean architecture, backend logic, and real-world system design.
                    </div>
                  </div>
                </div>
              </div>
            </div>


           <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">2025</div>
                                                <div class="small fw-bolder">Software Developer</div>
                                                <div class="small text-muted">JPMorgan Chase & Co</div>
                                                <div class="small text-muted">New York, New York, United States</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                          <div>
                                            Understanding domain models like Balance.<br>
                                            Implementing real-time Kafka message streaming.<br>
                                            Designing and integrating REST APIs for incentives.<br>
                                            Ensuring seamless serialization/deserialization with Jackson.<br>
                                            Testing end-to-end workflows for reliability and performance.<br>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            <!-- Experience Card 2-->
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-primary fw-bolder mb-2">2024</div>
                      <div class="small fw-bolder">InternPe</div>
                      <div class="small text-muted">Java</div>
                      <div class="small text-muted">Bangalore</div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      This program help me to learn industry level stuffs. I
                      made some projects which helped me to gain some experience
                      in the tech field.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Education Section-->
          <section>
            <h2 class="text-secondary fw-bolder mb-4">Education</h2>
            <!-- Education Card 1-->
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-secondary fw-bolder mb-2">
                        2025 - PRESENT
                      </div>
                      <div class="mb-2">
                        <div class="small fw-bolder">SIT</div>
                        <div class="small text-muted">
                          Siliguri, West Bengal
                        </div>
                      </div>
                      <div class="fst-italic">
                        <div class="small text-muted">PostGraduate</div>
                        <div class="small text-muted">MCA</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      During my studies in MCA, I am learning a lot of real world skills with hands on practice. It is helping me shrapen my knowledge about the field.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-secondary fw-bolder mb-2">
                        2022 - 2025
                      </div>
                      <div class="mb-2">
                        <div class="small fw-bolder">CIS</div>
                        <div class="small text-muted">
                          Siliguri, West Bengal
                        </div>
                      </div>
                      <div class="fst-italic">
                        <div class="small text-muted">UnderGraduate</div>
                        <div class="small text-muted">BCA(H)</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      During my undergraduate studies in BCA(H), I gained a
                      comprehensive understanding of computer applications and
                      programming. I worked on various projects that enhanced my
                      skills in software development, database management, and
                      web technologies. This experience prepared me to tackle
                      real-world challenges in the tech industry.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Education Card 2-->
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-secondary fw-bolder mb-2">
                        2015 - 2022
                      </div>
                      <div class="mb-2">
                        <div class="small fw-bolder">S.S.M.S</div>
                        <div class="small text-muted">
                          Alipurduar, West Bengal
                        </div>
                      </div>
                      <div class="fst-italic">
                        <div class="small text-muted">High School</div>
                        <div class="small text-muted">Computer Science</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      During my high school years, I developed a strong
                      foundation in computer science. I gained hands-on
                      experience with programming concepts, algorithms, and
                      problem-solving techniques. This period helped me
                      cultivate a passion for technology and laid the groundwork
                      for my journey into software development.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Divider-->
          <div class="pb-5"></div>
          <!-- Skills Section-->
          <section>
            <!-- Skillset Card-->
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <!-- Professional skills list-->
                <div class="mb-5">
                  <div class="d-flex align-items-center mb-4">
                    <div
                      class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                    >
                      <i class="bi bi-tools"></i>
                    </div>
                    <h3 class="fw-bolder mb-0">
                      <span class="text-gradient d-inline"
                        >Professional Skills</span
                      >
                    </h3>
                  </div>
                  <div class="row row-cols-1 row-cols-md-3 mb-4">
                    <div class="col mb-4 mb-md-0">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Database Management
                      </div>
                    </div>
                    <div class="col mb-4 mb-md-0">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Problem-Solving
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Web Development
                      </div>
                    </div>
                  </div>
                  <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4 mb-md-0">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Network Security
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Version Control
                      </div>
                    </div>

                    <div class="col">
                        <div
                          class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                        >
                          Software Development
                        </div>
                      </div>
                  </div>
                </div>
                <!-- Languages list-->
                <div class="mb-0">
                  <div class="d-flex align-items-center mb-4">
                    <div
                      class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                    >
                      <i class="bi bi-code-slash"></i>
                    </div>
                    <h3 class="fw-bolder mb-0">
                      <span class="text-gradient d-inline">Languages</span>
                    </h3>
                  </div>
                  <div class="row row-cols-1 row-cols-md-3 mb-4">
                    <div class="col mb-4 mb-md-0">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Java
                      </div>
                    </div>
                    <div class="col mb-4 mb-md-0">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        C
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        JavaScript
                      </div>
                    </div>
                  </div>
                  <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4 mb-md-0">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Python
                      </div>
                    </div>
                    <div class="col mb-4 mb-md-0">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        SQL
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Node.js
                      </div>
                    </div>
                  </div>
                    <div class="row mt-3 row-cols-1 row-cols-md-3">
                        <div class="col mb-4 mb-md-0">
                            <div
                                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                            >
                                C++
                            </div>
                        </div>
                        <div class="col mb-4 mb-md-0">
                            <div
                                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                            >
                                Oracle
                            </div>
                        </div>
                        <div class="col">
                            <div
                                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                            >
                                HTML/CSS
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
